@model ProjetoM17E.Models.Utilizador

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>
<br />

<div>
    <h4>Utilizador</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Perfil)
        </dt>

        <dd>
            @if (Model.Perfil == 0)
            {
                <span>Cliente</span>
            }
            else
            {
                <span>Adminstrador</span>
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.UtilizadorId }) |
    @Html.ActionLink("Voltar para os Utilizadores", "Index")
</p>
