@model ProjetoM17E.Models.Produto

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Tem a certeza que quer apagar este produto?</h3>
<br />
<div>
    <h4>Produto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Peso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Peso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Preco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Preco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @if (Model.Tipo == 0)
            {
                <span>Saco</span>
            }

            else
            {
                <span>Caixa</span>
            }

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fragil)
        </dt>

        <dd>
            @if (Model.Fragil == 0)
            {
                <span>Não</span>
            }
            else
            {
                <span>Sim</span>
            }
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Apagar" class="btn btn-default" /> |
            @Html.ActionLink("Voltar para os produtos", "Index")
        </div>
    }
</div>
